# .DS_Store

# application/cache/*
# !application/cache/index.html
# !application/cache/.htaccess

# application/logs/*
# !application/logs/index.html
# !application/logs/.htaccess

# composer.lock

# # IDE Files
# #-------------------------
# /nbproject/
# .idea/*

# ## Sublime Text cache files
# *.tmlanguage.cache
# *.tmPreferences.cache
# *.stTheme.cache
# *.sublime-workspace
# *.sublime-project

# # database
# application/config/database.php

# # upload

# uploads/qr/*.png
# vendor/*

# .env
# index.php

# application/config/routes.php
# application/config/config.php
# .htaccess
# schema/data/migration/schema/*
# uploads/employees/*
# application/modules/test/*

# application/modules/dtrkiosk/*